@mobile-narrow:  ~"only screen and (max-width: 320px)";
@mobile-wide:    ~"only screen and (min-width: 480px)";
@tablet-narrow   ~"only screen and (min-width: 600px)";
@tablet:         ~"only screen and (min-width: 768px)";
@desktop-narrow: ~"only screen and (min-width: 1024px)";
@desktop-wide:   ~"only screen and (min-width: 1280px)";
@hd              ~"only screen and (min-width: 1920px)";

@black: #000;
@white: #fff;

@grey-lt: #f2f3f2;
@grey-md: #a2a4a3;
@grey-dk: #424341;

@blue: #1A3AA3;

@col-primary: @blue;
@col-secondary: @grey-md;