.like-button {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: .8em;
  color: rgb(200,200,200);
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  transition: transform .3s ease-out;

  &.liked {
    color: red;
    transform: scale(1.1);
  }
}

.view-toggler-button {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: .8em;
  color: rgba(255,255,255, .9);
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
}
