header {
  #display.dimensions(100%, 100px);
  #display.colors(@white, rgb(20, 20, 20));
}

.block {

  &-logo {
    display: flex;
    align-items: center;
    padding-top: .5em;
    height: 100%;

    img {
      max-width: 100px;
    }

    h1 {
      margin-left: .5em;
      font-family: 'Poiret One', cursive;
    }

    @media @tablet {
      #display.grid(40%, 0);
    }
  }

  &-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &:before,
    &:after {
      content: none;
    }
  }
}
