.post-container {
  margin-bottom: 3em;
  padding: 1em;
  text-align: center;
}

.post-header {
  display: flex;
  align-items: center;
}

.user-image-wrapper {
  height: 50px;
  width: 50px;
  margin: .7em;
  overflow: hidden;
}

.username {
  padding-left: 1em;
  font-size: .9em;
}

.image-wrapper {
  max-width: 100%;
  overflow: hidden;
  text-align: center;

  img {
    margin: auto;
    max-width: 100%;
    max-height: 450px;
  }
}

.like-counter-wrapper {
  text-align: left;
  font-size: .8em;
}

.caption {
  padding: 0 .8em;
}
