#border {
  
  .solid(@size: 1px, @col: @black) when (default()) {
    border: @size solid @col;
  }
  
  .solid(@type, @size: 8px, @col: @white) when (@type = horizontal) {
    border-top: @size solid @col;
    border-bottom: @size solid @col;
  }
  
  .solid(@type, @size: 8px, @col: @white) when (@type = top) {
    border-top: @size solid @col;
  }
  
  .solid(@type, @size: 8px, @col: @white) when (@type = bottom) {
    border-bottom: @size solid @col;
  }
  
  .solid(@type, @size: 8px, @col: @white) when (@type = left) {
    border-left: @size solid @col;
  }
  
  .solid(@type, @size: 8px, @col: @white) when (@type = right) {
    border-right: @size solid @col;
  }
  
}