.card-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 2em;

  &:before,
  &:after {
    box-shadow: none;
  }

  .post-container {
    width: 40%;
    min-width: 300px;
    box-shadow: 0 3px 5px 0 rgba(50,50,50,.2);
    border: 1px solid rgba(150,150,150,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
}
