.block {

  &-content {
    #display.grid();
    padding: 2em 0;

    @media @tablet {
      #display.grid(full);
    }
  }
}

div.blog-list {
  margin: 2em auto;
}

body {
  color: rgb(50, 50, 50);
}

.main-container {
  max-width: 70%;
  margin: 0 auto;
  position: relative;

  &:before {
    box-shadow: -15px 0 15px -15px rgba(50,50,50,.2) inset;
    content: " ";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 1em;
  }

  &:after {
    box-shadow: 15px 0 15px -15px rgba(50,50,50,.2) inset;
    content: " ";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 1em;
    top: 0;
  }
}
